
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: white;
}


.hero {
  /*background: url('IMG_0677.png') no-repeat center center/cover;*/

  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

nav .logo {
  width: 150px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: red;
}

nav .btn {
  padding: 10px 20px;
  background-color: #ffd700;
  color: #333;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav .btn:hover {
  background-color: #ffa500;
}


.content {
  text-align: center;
  color: orange;
  padding: 20px;
}

.content .title {
  font-size: 35px;
  margin-bottom: 20px;
}

.content h1 {
  font-size: 35px;
  margin: 0;
  color: purple;
}

.content h1 span {
  color: turquoise;
}

.content p {
  font-size: 18px;
  margin: 20px 0;
}

.content .btn {
  padding: 15px 30px;
  background-color: #ffd700;
  color: #333;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.content .btn:hover {
  background-color: #ffa500;
}
