body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: black;
}

.resume {
  width: 80%;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  margin: 0;
  font-size: 2em;
}
h4 {
  margin: 10px 0 5px 0;
  font-size: 1em;
  font-style: italic;
}

header p {
  margin: 5px 0;
}

header a {
  text-decoration: none;
  color: #0073e6;
}

header a:hover {
  text-decoration: underline;
}

section {
  margin-bottom: 20px;
}

section h2 {
  border-bottom: 2px solid #0073e6;
  padding-bottom: 5px;
}

h3 {
  margin: 10px 0 5px 0;
  font-size: 1.2em;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
}

a {
  color: #0073e6;
}

a:hover {
  text-decoration: underline;
}
